@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* color variables */

  /* light mode variables  */
  --text: #050315;
  --background: #fbfbfe;
  --primary: #2f27ce;
  --secondary: #dedcff;
  --accent: #433bff;

  /* dark mode variables */
  --textD: #ebe9fc;
  --backgroundD: #010104;
  --PrimaryD: #3a31d8;
  --secondaryD: #020024;
  --accentD: #0600c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Jost, sans-serif;
}

body {
  width: 100dvw;
  background-color: var(--secondary);
}

/* container styles */
.App {
  width: 75%;
  max-width: 960px;
  margin: 5rem auto;
  padding: 2rem;

}

/* header styles */
header {
  text-align: center;
  margin: 0 auto 1rem auto;
}

header h1 {
  color: var(--primary);
  text-align: center;
}

/* nav styles  */
nav {
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav ul li {
  cursor: pointer;
  padding: .25rem;
  font-weight: bold;
  text-align: center;
} 

#main-container {
  background-color: var(--background);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* state styles */
#picker, #add, #all, #edit{
  width: 80%;
  height: 325px;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
}

#add #checks {
  display: flex;
  gap: 1rem;
}

/* all styles */
.all-container {
  width: 90%;
  padding: .5rem 1rem;
  max-height: 175px;
  overflow-y: auto;
}

.all-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: .5rem;
}

.all-row h4, .all-row input {
  width: 33%;
}

.all-row:not(:last-child) {
  border-bottom: 1px solid var(--primary);
}
#edit-container{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: .5rem;
}

.rate-input {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}

.rate-input input[type="number"] {
  width: 3rem;
}

.delete-save {
  display: flex;
  gap: .5rem;
}

.delete-save button {
  width: 4rem;
}
/* how it works styles */
#how-it-works {
  text-align: center;
}

#how-it-works #hiw-title {
  margin-bottom: 1rem;
  cursor: pointer;
}

/* footer styles */
footer {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  
}

footer h3 {
  margin-bottom: .5rem;
}

footer h3 a {
  color: var(--text);
  text-decoration: none;
}

/* general classes */
.btn, #activitySelect, input, textarea{
  padding: .25rem;
  color: var(--accent);
  border: 2px solid var(--accent);
  font-weight: bolder;
  text-align-last:center;
  background: none;
  cursor: pointer;
}

.btn:hover {
  color: var(--background);
  background-color: var(--accent);
}

.delete:hover {
  background-color: red;
  color: var(--background);
  border: 2px solid red;
}

.active {
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
}

.error {
  color: red;
}

.border-none {
  border: none;
}

.selected {
  background-color: var(--accent);
  color: var(--background);
}

@media only screen and (max-width: 750px) {
  .App {
    width: 100%;
  }

  #picker, #add, #all, #edit{
    width: 100%;
  }

  .all-container {
    width: 100%;
  }

  .all-row {
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {

  body, .App, nav ul li, #picker, #add, #all, #edit, .all-row h4, .all-row input {
    font-size: 95%;
  }

  #picker, #add, #all, #edit{
    height: 350px;

  }

  .all-row {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  #all-nav {
    border-bottom: 1px solid var(--accent);
    padding-bottom: 1rem;
  }

  #all-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .active {
    width: 6rem;
  }
}

/* animations */

/* responsive nav button */
@keyframes rotateSidewaysOpened {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}

.sidewaysOpened {
  animation: rotateSidewaysOpened .25s ease-in-out forwards;
}

@keyframes rotateSidewaysClosed {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0);
  }
}

.sidewaysClosed {
  animation: rotateSidewaysClosed .25s ease-in-out forwards;
}

/* how it works arrow */
@keyframes HIWSidewaysOpened {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

.HIWOpened {
  animation: HIWSidewaysOpened .25s ease-in-out forwards;
}

@keyframes HIWSidewaysClosed {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}

.HIWClosed {
  animation: HIWSidewaysClosed .25s ease-in-out forwards;
}

@keyframes HIWBodyShown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.HIWBodyShown {
  animation: HIWBodyShown 1s ease-in-out forwards;
}

@keyframes HIWBodyHidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 0;
    display: none;
  }
}

.HIWBodyHidden {
  animation: HIWBodyHidden .5s ease-in-out forwards;
}


